/* 
ADC Dictionary 
_____________________________________________________________
*/
.A_ADCUser {
  display: flex;
  align-items: center;
  gap: 6px;

  &::before {
    content: ' ';
    width: 28px;
    height: 28px;
    background-image: url('../../images/dictionary/Q_ADCSymbol.svg');
  }
  &::after {
    content: ' ';
    width: 36px;
    height: 24px;
    background-image: url('../../images/dictionary/Q_ADCUserTexting.svg');
  }
}
.A_Question {
  background-color: #1a1a1a;
  color: #79ff39;
  border-radius: 8px;
  width: fit-content;
  max-width: 70%;
  font-size: 22px;
  padding: 12px 18px;
}
.A_AnswerMessage {
  background-color: white;
  color: black;
  width: 218px;
  border-radius: 8px;
  padding: 10px 12px;
}
.A_PopUpButton {
  width: 14vw;
  height: 7vw;
  background-color: cornflowerblue;
  color: white;
  border-radius: 2rem;
  text-align: center;
  line-height: 7vw;
  margin: 30px;
  cursor: pointer;
}
.A_PopUpText {
  text-align: center;
}
.A_PopUpTitle,
.A_FlipCardTitle {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}
.A_PopUpImage,
.A_FlipCardImage {
  width: 100%;
}

/* мультиселект */
.A_MultiselectCheckbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  z-index: 1;

  &:checked ~ .M_SelectField {
    display: block;
  }
}

.A_Tag {
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
  color: rgb(82, 82, 82);

  &:hover {
    background-color: #eee;
    color: white;
  }
  &:checked {
    background-color: #7db2cf;
    color: white;
  }
}
.A_Chip {
  background-color: #9cbed0;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 20;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #7db2cf;
    transition: background-color 0.8s ease;
  }
}
