.M_PopUp {
  width: 35vw;
  height: 45vw;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
}
.M_FlipCardFront,
.M_FlipCardBack {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
}
.M_FlipCardFront {
  background-color: #f6f6f6;
}
.M_FlipCardBack {
  background-color: cornflowerblue;
  transform: rotateY(180deg);
}
.M_Switch {
  position: relative;
  width: 60px;
  height: 34px;
  display: block;

  input {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + span {
      background-color: cornflowerblue;
    }

    &:checked + span::before {
      transform: translateX(26px);
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #eee;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s;

    &::before {
      content: '';
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background-color: white;
      transition: all 0.4s;
      left: 4px;
      bottom: 4px;
    }
  }
}

/* мультиселект */
.M_SelectField {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 1rem 0 0.5rem 0;
  border: 2px solid #9cbed0;
  outline-color: #7db2cf;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #fff;
  max-height: 10rem;

  &[multiple] {
    overflow-y: auto;
  }

  option {
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
    color: rgb(82, 82, 82);

    &:hover {
      background-color: #eee;
      color: white;
    }
    &:checked {
      background-color: #7db2cf;
      color: white;
    }
  }
}
