/* 
ADC Dictionary 
_____________________________________________________________
*/

.O_Story {
  width: 320px;
  height: 568px;
  background-color: black;
  border-radius: 10px;
  padding: 30px 10px;
  position: relative;

  .C_AnswerMessages {
    position: absolute;
    bottom: 30px;
  }
}

.O_PopUpContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  &.visible {
    display: flex;
  }
}
.O_FlipCard {
  width: 30vw;
  height: 40vw;
  perspective: 1000px;
  border: 1px solid #fefefe;

  /*
  &:hover .W_FlipCard {
    transform: rotateY(180deg);
  }
  */
}

/* мультиселект */
.O_Multiselect {
  width: 460px;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 10px 50px 7px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
