.S_Stories {
  /*
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 12px;
  align-content: center;
  max-width: 984px;
  margin: 0 auto;
}
.S_FlipCards {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
/* мультиселект */
.S_Multiselect {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
