/* 
ADC Dictionary 
_____________________________________________________________
*/

.S_Stories {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  /*
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 12px 12px;
  grid-template-columns: repeat(3, 1fr);
  align-content: center; */
}

.S_FlipCards {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* мультиселект */
.S_Multiselect {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
