@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/main.scss';
@import 'stylesheets/theory.scss';
@import 'stylesheets/boardgames.scss';
@import 'stylesheets/footer.scss';

@import 'stylesheets/components/01_Quarks.scss';
@import 'stylesheets/components/02_Atoms.scss';
@import 'stylesheets/components/03_Molecules.scss';
@import 'stylesheets/components/04_Wrappers.scss';
@import 'stylesheets/components/05_Collections.scss';
@import 'stylesheets/components/06_Organisms.scss';
@import 'stylesheets/components/07_SuperOrganisms.scss';

.S_Articles {
  padding: 2rem;
}
.A_ArticleHeader {
  font-weight: bold;
  font-size: 2rem;
}
.M_FilterTags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
